@import url('https://fonts.googleapis.com/css?family=Roboto:300');

/* Structure principale */ 
* {
    margin: 0;
    box-sizing: border-box;
}

/* Barre de navigation */

.navbar {
    text-transform: capitalize;
    font-family:'Roboto';
    background-color: rgb(64, 71, 79);
    position: fixed;
    width: 12%;
    height: 100vh;
}

.navbar a { 
    text-decoration: none;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    color: white;
    padding: 37.5px;
    position: relative;
    left: -.75em;
    top: 3.2em;
    margin-bottom: 0.25em;
    width: 199px;
}

.navbar a:hover { 
    border-right: 6px solid orange; 
    background-color:  rgb(46, 49, 53);
}

.navbar a:active { 
    background-color: rgb(252, 244, 233);
    border-right: 6px solid orange;
    color:  rgb(64, 71, 79);
}

/* Contenu principal*/

.content {
    margin-left: 12%;
    display: flex;
    flex-direction: column;
    height: 100vh;
}

.title {
    text-transform: uppercase;
    font-family:'Roboto';
    background-color: rgb(64, 71, 79); 
    color: white;
    width: 100%;
    height: 60px;
    padding: 10px 0 0 35px;
    position: fixed;
}

.moi {
    background:linear-gradient(141deg, #ccc 25%, #eee 40%, #ddd 55%);
    height: 100vh;
    margin-top: 60px;
    display: flex;
    font-family:'Roboto';
}

.moi div #fb {
    margin-top: 1em;
}

.moi div {
    width: 50%;
    padding: 45px;
    margin-left: 1.5em;    
}

.moi div h1 {
    text-align: center;
    margin: 0.5em auto;
    font-size: 35px;
}

.moi div p {
    margin-top: 55px;
}

.moi img {
    width: 360px;
    height: 420px;
    border-radius: 20px;
    position: relative;
    top: 16%;
    left: 12%;
}

.infos {
    margin-top: 1.5em;
    display: flex;
    flex-direction: row;
    gap: 65px;
    justify-content: center;
    margin-right: 3.5em;
}

.infos a {
    text-decoration: none;
    color: white;
    border: 1px solid whitesmoke;
    background-color: orange;
    padding: 0.8em;
    border-radius: 5px;
    box-shadow: 2px 3px 5px rgba(0, 0, 0, 0.4);
}

footer {
    padding: 1px;
    margin-top: auto;
    text-align: center;
    background-color: rgb(64, 71, 79);
    color: white;
}


