body, figure, h1, h2, h3, p {
    margin: 0;
    padding: 0;
}

body {
    font-family: Arial, sans-serif;
    line-height: 1.6;
    color: #333;
}

header {
    background-color: #222222e5;
    color: white;
    padding: 5px;
    font-family: cursive;
    position: sticky;
}

header h1 {
    margin-left: 4.75em;
}

#nav {
    position: relative;
    float: left;
    width: 11.25em;
    height: 100vh;
    background-color:#222222e5;
    margin-left: -3em;
    margin-right: 25px;
}

#nav ul {
    list-style-type: none;
}

#nav ul li {
    padding: 1.5em 1em;
    margin-bottom: 0.5em;
    text-align: center;
}


#nav ul a {
    position: relative;
    text-decoration: none;
    color: rgba(186, 186, 186, 0.96);
    font-size: large;
    font-family: 'Saira Extra Condensed', sans-serif;
}

#nav ul li:hover {
    background-color: rgba(109, 109, 109, 0.95) ;
}

.accueil {
    background-image: url(/img/contexte-programmation-personne-travaillant-codes-ordinateur.jpg);
    background-repeat: no-repeat;
    background-size: cover;
    width: 100vw;
    height: 100vh;
    color: white;
    text-align: center;
}

.accueil h1 {
    font-size: 2.5em;
}

.container {
    position: relative;
    left: 1.5em;
    border: 1px solid white;
    width: 30%;
    margin: auto;
    padding: 20px;
    height: 42%;
    background-color:  #222222e5;
}

.container a {
    text-decoration: none;
    border: 1px solid whitesmoke;
    color: gray;
    background-color: rgb(83, 28, 235);
    padding: 0.8em;
    border-radius: 5px;
    margin-bottom: 15px;
}

footer {
    background-color: #222222e5;
    color: white;
    text-align: end;
}